<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>サラダ</string>
		<key>image</key>
		<string>food001.png</string>
		<key>sortOrder</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>パスタ</string>
		<key>image</key>
		<string>food002.png</string>
		<key>sortOrder</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>デザート</string>
		<key>image</key>
		<string>food003.png</string>
		<key>sortOrder</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
